version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "09:00"
      timezone: "Etc/UTC"
    groups:
      dependencies:
        patterns:
          - "*"
    open-pull-requests-limit: 10
    assignees:
      - "padparadscho"
    labels:
      - "dependencies"
    versioning-strategy: increase
